.theory {
  width: 80%;
  max-width: 800px;
  color: white !important;

  &Body {
    width: 80%;
    max-width: 800px;
    border: 2px solid blue;
    color: white;
  }
}

.markdown {
  color: white !important;
}

