@import "src/shared/style/color";

@mixin flex-center($column: false) {
  display: flex;
  justify-content: center;
  align-items: center;

  @if $column {
    & {
      flex-direction: column;
    }
  }
}
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* рекомендуется для учета границ и отступов в ширине элемента */
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');

.btnDrawer{
  display: block;
  position: absolute;
  top: 50px;
  left: 50px;
  color: $light;
}

.link {
  display: block;
  padding-bottom: 15px;
}

.app {
  @include flex-center(true);
  margin: 0 auto;
  background-color: $bgApp;
  height: 100vh;
  color: $light;

  h1 {
    margin: 1rem 0;
    font-size: 1.6rem;
    text-align: center;
    color: white;
  }
}