.card {
  width: 80vw;
  max-width: 800px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

  &:hover{
    transform: scale(1.05);
    transition: all ease-out 1s;
  }
}

.list {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
}