@import "src/shared/style/color";

.themeSelector{
  margin: 0.75rem 0;
  text-align: center;
  color: $dark;

  label {
    color: white;
  }

  select {
    border-radius: 4px;
    color: $dark;
  }
}